modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
STRIPE_PUBLIC_KEY = "pk_live_51T9w96Bewufp70aaqNPzapWXtaGnvjNpevqMvOyGmAWMFlUeTqzYcxLJHeWQiNgidsUkPZAdeVIVhYCbfe9ewcCK004ky4AvII"
STRIPE_SECRET_KEY = "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"
STRIPE_WEBHOOK_SECRET = "whsec_WRrxXj5YnnNIlAOiZJjwbhh7ucFqE64r"
